<div class="container">
    <div class="row mb-5 pb-4">
        <div class="logo-container">
            <img src="../../../assets/ownIcons/logo-k.png" class="img-logo img-responsive" />
        </div>
    </div>
    <div class="row" style="min-width: 100%;">
        <div class="button-container">
            <div (click)="redirectToLogin('user')" class="mb-2 button btn btn-primary help-button ">
                Necesito Ayuda
            </div>
            <div (click)="redirectToLogin('volunteer')" class="mb-2 button btn btn-primary volunteer-button ">
                Voluntario
            </div>
        </div>
    </div>
</div>